<div class="footer">
  <div class="section">
    <span>Company</span>
    <ul>
      <li>About Us</li>
      <li>Team</li>
      <li>Career</li>
    </ul>
  </div>
  <div class="section">
    <span>Contact</span>
    <ul>
      <li>Help &amp; Support</li>
      <li>Partner with us</li>
      <li>Ride with us</li>
    </ul>
  </div>
  <div class="section">
    <span>Legal</span>
    <ul>
      <li>Terms &amp; Conditions</li>
      <li>Refund &amp; Cancellation</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
</div>
