.restaurantmenu{
  background: #21cc4e;
  height:100%;
  padding:10px;
}
.restaurant{
  width:69%;
  height: 100%;
}
.header {
  padding:10px;
  background: white;
}
.header > div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.restaurantrate{
  font-size: 150%;
  text-align: right;
}
.restaurantrate > span{
  display: inline-block;
  padding:5%;
  background: #21cc4e;
  color: white;
}
.header .col1{
  width: 80%;
}
.header .col2{
  width: 20%;
}
.header .title{
  font-size: 250%;
}
.cart{
  width: 30%;
  margin-left: 1%;
  background: white;
}
.restaurantmenu > div {
  display: inline-block;
  vertical-align: top;
}
.menu {
  margin-top:10px;
  padding:10px;
  background: white;
}
.menu > div{
  display: inline-block;
  vertical-align: top;
  border: 1px solid red;
}
.menu > menuleft
.menubar{
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
}
.searchbar{
  width: 30%;
  height: 100%
}
.menubar > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menubar > ul > li{
  display: inline-block;
  font-size: 25px;
  padding:5px;
}
