.restaurantmenu{
  background: #21cc4e;
  height:100%;
  padding:10px;
}
.restaurant{
  width:69%;
  height: 100%;
}
.header {
  padding:10px;
  background: white;
}
.header > div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.restaurantrate{
  font-size: 150%;
  text-align: right;
}
.restaurantrate > span{
  display: inline-block;
  padding:5%;
  background: #21cc4e;
  color: white;
}
.header .col1{
  width: 80%;
}
.header .col2{
  width: 20%;
}
.header .title{
  font-size: 250%;
}
.cart{
  width: 30%;
  margin-left: 1%;
  background: white;
}
.restaurantmenu > div {
  display: inline-block;
  vertical-align: top;
}
.menu {
  margin-top:10px;
  padding:10px;
  background: white;
  height: 65px;
}
.menu > div{
  display: inline-block;
  vertical-align: top;
}
.menu button.menuleftbtn, button.menurightbtn {
  height:100%;
  background:  #21cc4e;
  color:white;
  border: 0;
  outline: 0;
}
.menu > .menuleft{
  width:3%;
  height: 100%;
}
.menu > .menuright{
  width:3%;
  height: 100%;
}
.menubar{
  width: 64%;
  height: 100%;
  white-space: nowrap;
  overflow:hidden;
}
.searchbar{
  width: 30%;
  height: 100%
}
.searchbar > input {
  width: 80%;
  height: 100%;
  font-size: 20px;

}
.searchbar > button {
  width: 20%;
  height: 100%;
  background: #21cc4e;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  vertical-align: top;
}
.menubar > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menubar > ul > li{
  display: inline-block;
  font-size: 25px;
  padding:5px;
  cursor: pointer;
}
.menubar > ul > li.separator > i{
  border-left :1px solid black;
}
