<div class="restaurantmenu">
    <div class="restaurant">
      <div class="header">
        <div class="col1">
          <div class="title">Pulimunchi</div>
          <div class="address">Jyothi, Mangalore</div>
        </div>
        <div class="col2">
          <div class="restaurantrate"><span>4.4</span></div>
        </div>
      </div>
      <div class="menu">
        <div class="menuleft"><button class="menuleftbtn" type="button" name="button" (click)="onMenuLeft()"><i class="fa fa-chevron-left"></i></button></div>
        <div class="menubar" #menubar>
          <ul>
            <li>Meals</li>
            <li class = "separator"><i></i></li>
            <li>Breakfast</li>
            <li class = "separator"><i></i></li>
            <li>Chinese</li>
            <li class = "separator"><i></i></li>
            <li>Pizza</li>
            <li class = "separator"><i></i></li>
            <li>Special</li>
            <li class = "separator"><i></i></li>
            <li>Biryani</li>
            <li class = "separator"><i></i></li>
            <li>Fried Rice</li>
            <li class = "separator"><i></i></li>
            <li>Dessert</li>
          </ul>
        </div>
        <div class="menuright"><button class="menurightbtn" type="button" name="button" (click)="onMenuRight()"><i class="fa fa-chevron-right"></i></button></div>
        <div class="searchbar">
          <input type="text" name="" value=""><button type="button" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="foodlist">
        <div class="foodgroup">
          <div class="grouptitle">Meals</div>
          <div class="foods">
            <div class="food">
              <div class="foodimg">
                <img src="./assets/images/food.jpg" alt="">
              </div>
              <div class="fooddetail">
                <div class="foodtitle">South Indian Non-Veg Meals</div>
                <div class="foodcontains"><span>Contains: </span><span>Rice, Two Chapthis, Dal, Chicken Curry</span></div>
                <div class="foodcost"><span>₹</span><span>90</span></div>
              </div>
              <div class="foodbtn">
                <div class="foodbtngrp">
                  <button type="button" name="button" class="decrement">-</button>
                  <input type="text" name="" value="">
                  <button type="button" name="button" class="increment">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart">
      cart
    </div>
</div>
