<div class="restaurantmenu">
    <div class="restaurant">
      <div class="header">
        <div class="col1">
          <div class="title">Pulimunchi</div>
          <div class="address">Jyothi, Mangalore</div>
        </div>
        <div class="col2">
          <div class="restaurantrate"><span>4.4</span></div>
        </div>
      </div>
      <div class="menu">
        <div class="menuleft"><button type="button" name="button"><i class="fa fa-chevron-left"></i></button></div>
        <div class="menubar">
          <ul>
            <li>Meals</li>
            <li>Breakfast</li>
            <li>Chinese</li>
            <li>Pizza</li>
            <li>Special</li>
            <li>Biryani</li>
            <li>Fried Rice</li>
            <li>Dessert</li>
          </ul>

        </div>
        <div class="menuright"><button type="button" name="button"><i class="fa fa-chevron-right"></i></button></div>
        <div class="searchbar">
          Searchbar
        </div>
      </div>
    </div>
    <div class="cart">
      cart
    </div>
</div>
