<div class="restaurantsearch">
  <div class="searchbar">
    <input type="text" name="" value="">
    <button type="button" name="search">Search</button>
  </div>
  <div class="spacer">
    &nbsp;
</div>
  <div class="restaurantlist">
    <div class="restaurant">
      <div class="restaurantimg">
        <img src="./assets/images/restaurant.jpg" alt="">
      </div>
      <div class="restaurantdetail">
        <div class="restauranttitle">Pulimunchi</div>
        <div class="restaurantype">Restaurant</div>
        <div class="restaurancharge"><span>Minimum:</span><span>₹</span>50</div>
        <div class="restaurantype"><span>Up to</span><span>&nbsp;30</span><span>min</span></div>
      </div>
      <div class="restaurantother">
        <div class="restaurantrate"><span>4.4</span></div>
        <div class="restaurantbutton"><button type="button" name="" routerLink="/restaurantmenu">Order</button></div>
      </div>
    </div>
  </div>
</div>
