<div class="home">
  <div class="slider">
    <div class="sliderChild">
      <img src="./assets/images/slider-img/img1.jpg" width="20%" height="300px" alt="">
      <img src="./assets/images/slider-img/img2.jpg" width="20%" height="300px" alt="">
      <img src="./assets/images/slider-img/img3.jpg" width="20%" height="300px" alt="">
      <img src="./assets/images/slider-img/img4.jpg" width="20%" height="300px" alt="">
      <img src="./assets/images/slider-img/img5.jpg" width="20%" height="300px" alt="">
    </div>
  </div>
</div>
